.somediv {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background: tomato;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(30px, auto);
	align-self: center;
	justify-content: center;

}
.quar {
	align-self: center;
	justify-content: center;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border: black 2px solid;
}
